{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
    <title>Create Profile</title>
</head>

<body>
<div id="wrapper">
    <header>
        <!-- Navigation -->
        <a id="logo" href="{% url 'index' %}">
            <img id="logo-img" src="{% static 'images/logo.jpg' %}" alt="logo"/>
        </a>
    </header>

    <main>
        <section id="register">
            <div class="form">
                <h2>Create Profile</h2>

                <!-- Display Form -->
                <form class="register-form" method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <!-- Submit Button -->
                    <button type="submit">Create</button>
                </form>

                <!-- Error Messages -->
                {% if form.errors %}
                    <div class="form-errors">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                <li><strong>{{ field }}:</strong> {{ errors|join:", " }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
</div>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}


<!-- Footer -->
<footer>
    <p>&copy; 2024 Parking Booker Hub. All rights reserved to ProNetGaming.</p>
</footer>
</body>

</html>
