{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/navigation.css' %}" rel="stylesheet">
    <link href="{% static 'css/slider-thing.css' %}" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Parking Booker Hub</title>
    <meta name="author" content="tsvtln">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Parking Booker Hub</a>
    <ul class="navbar-nav d-flex flex-row">
        {% if user.is_authenticated %}
            <!-- Navigation for logged-in users -->
            <li class="nav-item px-2">
                <a class="nav-link" href="{% url 'all-bookings' %}">All Bookings</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="{% url 'create_booking' %}">Create Booking</a>
            </li>
        {% else %}
            <!-- Navigation for non-logged-in users -->
            <li class="nav-item px-2">
                <a class="nav-link" href="{% url 'create_profile' %}">Create Profile</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
        {% endif %}
    </ul>
</nav>
<p>DEBUG</p>
<p>User Authenticated: {{ user.is_authenticated }}</p>
<p>Username: {{ user.nickname }}</p>
<!-- Carousel -->
<div class="container">
    <div id="sliding_images" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#sliding_images" data-slide-to="0" class="active"></li>
            <li data-target="#sliding_images" data-slide-to="1"></li>
            <li data-target="#sliding_images" data-slide-to="2"></li>
            <li data-target="#sliding_images" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/slide_1.png' %}" class="d-block" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/slide_2.jpg' %}" class="d-block" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/slide_3.jpg' %}" class="d-block" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/slide_4.jpg' %}" class="d-block" alt="Forth slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#sliding_images" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#sliding_images" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="social-links">
        <!-- Using Font Awesome icons -->
        <a href="https://bg.linkedin.com/company/pronetgaming" target="_blank" rel="noopener noreferrer"
           aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCt9dGrP2lhxMhvnRrUD_lnw" target="_blank" rel="noopener noreferrer"
           aria-label="YouTube">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/pronetgaming1" target="_blank" rel="noopener noreferrer"
           aria-label="Facebook">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/pronet_gaming/" target="_blank" rel="noopener noreferrer"
           aria-label="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <div class="contact-info-wrapper">
        <div class="contact-info">
            <h2>Contact Us</h2>
            <div class="contact-details">
                <p>
                    <strong>Email:</strong>
                    <a href="mailto:desislava.velcheva@pronetgaming.com">desislava.velcheva@pronetgaming.com</a>
                </p>
                <p>
                    <strong>Office Address:</strong>
                    Sofia
                </p>
            </div>
        </div>
    </div>
</footer>


<!-- Scripts -->
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/scripts.js' %}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<!-- Scripts -->
{#<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>#}


</body>
</html>
